.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --text-bg-color: #ff0070;
  --accent-color: #db00ff;
  --text-common-color: var(--bg-color, #000028);
  --btn-color: var(--text-bg-color, #ff0070);
  --decorated-color: var(--text-bg-color, #ff0070);
  --title-md-color: var(--text-bg-color, #ff0070);
  --link-color: var(--text-color, #f1b2ce);
  --link-accent-color: var(--text-bg-color, #ff0070);
  --section-text: var(--text-color, #f1b2ce);
  --color-opacity: rgba(255, 0, 112, 0.4);
  --image-png-url: url('../images/cover-image-dark.png');
  --image-avif-url: url('../images/cover-image-dark.avif');
}

.page.theme_dark .header__decor-item {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --text-bg-color: #ff0070;
    --accent-color: #db00ff;
    --text-common-color: var(--bg-color, #000028);
    --btn-color: var(--text-bg-color, #ff0070);
    --decorated-color: var(--text-bg-color, #ff0070);
    --title-md-color: var(--text-bg-color, #ff0070);
    --link-color: var(--text-color, #f1b2ce);
    --link-accent-color: var(--text-bg-color, #ff0070);
    --section-text: var(--text-color, #f1b2ce);
    --color-opacity: rgba(255, 0, 112, 0.4);
    --image-png-url: url('../images/cover-image-dark.png');
    --image-avif-url: url('../images/cover-image-dark.avif');
  }

  .header__decor-item {
    display: block;
  }
}

