/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', sans-serif;
  padding: 0 10px;
}

.header {
  padding: 10px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 0px 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  background: transparent;
  min-block-size: 26px;
}

.header__title {
  font-weight: 700;
  /* font-size: clamp(7.25rem, 7.071rem + 0.8949vw, 7.5rem); */
  font-size: clamp(7.25rem, 7.098rem + 0.8386vw, 7.5rem);
  line-height: 82.5%;
  letter-spacing: 0;
  transform: translateX(-6px);
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5353rem + 14.5098vw, 9.8125rem);
  }
}

