.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--bg-color, #fff1f7);
}

/* components */

.main {
  padding: 40px 0;
}
.section {
  padding: 0 10px;
}

.section:not(:last-of-type) {
  margin-block-end: 50px;
}

.title-h1 {
  margin-block-end: 55px;
  color: var(--accent-color, #ffc2e6);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--text-accent-color, #ff0070);
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.text-common {
  margin-block-end: 20px;
  color: var(--text-color, #353430);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.title-h3 {
  background-color: var(--text-bg-color, #ff8dcb);
}

.title-h4 {
  margin-block-end: 10px;
  background-color: var(--text-bg-color, #ff8dcb);
  font-weight: 400;
}

.text {
  margin-block-end: 0;
}

.header .text__fill-bg {
  background-color: var(--text-bg-color, #ff8dcb);
}

.section .text {
  font-weight: 400;
}

.text-list__item:not(:last-of-type) {
  margin-block-end: 20px;
}

.link {
  --text-accent-color: #ff8dcb;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-accent-color, #ff8dcb);
}

/* header */

.header {
  position: relative;
  padding: 75px 10px 66px 10px;
  background-image: url('../images/cover-image-light.png');
  background-image: -webkit-image-set(
    url('../images/cover-image-light.avif') type('image/avif'),
    url('../images/cover-image-light.jpg') type('image/jpeg')
  );
  background-image: image-set(
    url('../images/cover-image-light-375px.avif') type('image/avif'),
    url('../images/cover-image-light.jpg') type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  border-inline-end: 1px solid var(--text-color, #353430);
  border-block-start: 1px solid var(--text-color, #353430);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  border-inline-start: 1px solid var(--text-color, #353430);
  border-block-end: 1px solid var(--text-color, #353430);
  inline-size: 25px;
  block-size: 25px;
}

.header__decor-item {
  position: absolute;
  top: 10px;
  right: 9px;
  display: none;
  padding-right: 27px;
  color: var(--text-accent-color, #ff0070);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
}

.header__decor-item::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px currentColor;
  background: currentColor;
  min-block-size: 9px;
  min-inline-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  margin-block-end: 67px;
  list-style: none;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
  }
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 0px 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  background: transparent;
  min-block-size: 26px;
}

.header__theme-menu-button {
  color: var(--text-color, #353430);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

/* sections */

.section__grid-img {
  width: 100%;
}

